__pycache__/
.mypy_cache/
*.pyc
.testmondata

*.zip
*.png
*.jpg

data/generated_data/
data/downloaded_data/
BendabilityModels/
unused/

meuseum_mod/predictions/*.[tc]sv
!meuseum_mod/predictions/6_9.csv 